beautifulsoup4
faiss-cpu
flytekit==1.13.5
flytekitplugins-deck-standard
gitpython
langchain
langchain-community
langchain-core
langchain-huggingface
langchain-openai
markdownify
mashumaro
openai
pandas
playwright
pyarrow
requests
sentence_transformers
tiktoken
torch==2.4.1
union==0.1.75
